.HtmlContainer {
    flex: 1;
    padding-top: 15;
    background-color: "#1B2A41";
}

.topBox {
    flex-direction: "column";
    justify-content: "flex-start";
    width: "90%";
    left: "5%";
}

.add {
    margin-top: 5;
    margin-bottom: 2;
    font-size: 18;
    font-weight: "bold";
    color: "#D7D9D7";
}

.sub {
    margin-top: 5;
    text-align: "flex-start";
    align-items: "center";
    opacity: 0.6;
    margin-bottom: 5;
    font-size: 15;
    font-weight: "bold";
    color: "#D7D9D7";
}